/* selector {
  property-name: value;
} */
body {
  text-align: center;
  background-color: black;
}

h1 {
font: bold;
font-size: 85px;
text-decoration: underline;
letter-spacing: 4px;
color: goldenrod;
}

ul {
list-style-type: none;
padding: 0;
}

li {
font-size: 20px;
margin-bottom: 24px;
text-transform: uppercase;
}

a {
  color: goldenrod;
  text-decoration: none;
  cursor: pointer;
  transition: color 1s ease;
}

a:hover {
  color: grey;
}
